<div class="container mt-5">
    <h2>Principal Dashboard</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card p-3 mb-3">
                <h4>Classes</h4>
                <ul>
                    <li>Class 10</li>
                    <li>Class 11</li>
                    <li>Class 12</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card p-3 mb-3">
                <h4>Teachers</h4>
                <ul>
                    <li>Teacher A - Class 10</li>
                    <li>Teacher B - Class 11</li>
                </ul>
            </div>
        </div>
    </div>
</div>